/* Navbar.css */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #301934;;
    color: #fff;
    padding-inline: 45px;
    border-bottom: 1px solid purple;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    margin-right: 20px;
    text-decoration: none;
    color: white;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-search-form {
    display: flex;
    align-items: center;
}

.navbar-search-input {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.navbar-search-button {
    background-color: #641f78;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.navbar-search-button:hover {
    background-color: #a12cc3;
}